@font-face {
  font-family: "days_oneregular";
  src: url('daysone-regular-webfont.woff2') format('woff2'),
       url('daysone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'sans serif';
}

button {
  font-weight: bold;
  border-radius: 3px;
  border: none;
  padding: 3px;
  font-size: 16pt;
  background-color: #303030;
  color: white;
  box-shadow: #1e1e1e 0 5px 0px;
}

button:hover {
  background-color: #404040;
}

button:active {
  background-color: #303030;
  box-shadow: none;
  transform: translateY(5px);
}

button:focus {
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}

.operation-button {
  background-color: orangered;
  color: white;
  box-shadow: rgb(189, 50, 0) 0 5px 0px;
}

.operation-button:hover {
  background-color: rgb(255, 82, 20);
}

.operation-button:active {
  background-color: orangered;
  box-shadow: none;
  transform: translateY(5px);
}

.stack-button {
  background-color: gold;
  color: #202020;
  box-shadow: rgb(202, 172, 0) 0 5px 0px;
}

.stack-button:hover {
  background-color: rgb(255, 228, 72);
}

.stack-button:active {
  background-color: gold;
  box-shadow: none;
  transform: translateY(5px);
}

#header {
  grid-row-start:    1;
  grid-row-end:      1;
  grid-column-start: 1;
  grid-column-end:   6;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between
}

#logo {
  font-family: "days_oneregular", 'sans serif';
  color: white;
  /* justify-self: end; */
  border-bottom: 2px solid white;
  margin-top: 3px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#solar_panel {
  height: 26px;
  display: flex;
  flex-flow: row nowrap;
  border-radius: 3px;
  border: 2px solid #060606;
  border-bottom: 2px solid #202020;
}

#solar_left_cell {
  width: 30px;
  box-shadow: inset #0000006b 0px 3px 1px;
  background-color: rgb(54, 32, 33);
}

#solar_middle_cell {
  width: 30px;
  box-shadow: inset #0000006b 0px 3px 1px;
  background-color: rgb(54, 32, 33);
  border-left: 1px solid rgb(80, 48, 50);
  border-right: 1px solid rgb(80, 48, 50);
}

#solar_right_cell {
  width: 30px;
  box-shadow: inset #0000006b 0px 3px 1px;
  background-color: rgb(54, 32, 33);
}

#container {
  display: grid;
  grid-template-rows: auto 5fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 0.75rem;
  grid-column-gap: 0.5rem;
  width: 300px;
  background-color: #121212;
  padding: 10px 10px 15px 10px;
}

#screen {
  grid-row-start:    2;
  grid-row-end:      3;
  grid-column-start: 1;
  grid-column-end:   6;
  font-family: monospace;
  font-size: 12pt;
  font-weight: bold;
  color: rgb(42, 51, 26);
  background-color: rgb(139, 163, 100);
  border-radius: 5px;
  box-shadow: inset #0000006b 0px 6px 1px;
  /* margin-left: 2px;
  margin-right: 2px; */
  padding: 8px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  border: 4px solid black;
  border-bottom: 4px solid;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.row-index {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#btn0 {
  grid-row-start:    6;
  grid-row-end:      6;
  grid-column-start: 1;
  grid-column-end:   3;
}